* {
    margin: 0;
}

.error {
    color: red;
}

#logo {
    font-size: 2rem;
}

nav {
    background: grey;
}

header {
    background: orange;
}

main {
    background: pink;
}

/************************* HOME *************************/
#cities-matching-city-entered {
    background: yellow;
}

#city-in-matching-cities {
    cursor: pointer;
}
/************************* HOME *************************/