:root {
    --max-width: 1200px;
    --padding-left-and-right: 20px;
    --nav-button-dimensions: 20px;

    --black: #000000;
    --white: #ffffff;
    --lighter-grey: #f0f0f0;
    --light-grey: #d3d3d3;
    --grey: #808080;
    --dark-grey: #4d4d4d;

    --raisin-black: #2E282A;
    --vermillion: #EF3E36;
    --verdigris: #17BEBB;
    --buff: #EDB88B;
    --misty-rose: #FAD8D6;
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: Quicksand;
    src: url("../src/assets/fonts/Quicksand-VariableFont_wght.ttf");
}

.error {
    color: var(--vermillion);
}

.max-width {
    max-width: var(--max-width);
    margin: auto;
}

body {
    background: var(--black);
    font-family: Quicksand;
}

#logo-nav-and-nav-button-container {
    background: var(--black);
    position: sticky;
    top: 0;
    z-index: 3;
}

#logo-nav-and-nav-button {
    padding: 5px var(--padding-left-and-right);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#logo {
    font-size: 1.8rem;
}

#logo:link,
#logo:active,
#logo:visited {
    color: var(--white);
}

#nav-button {
    width: var(--nav-button-dimensions);
    height: var(--nav-button-dimensions);
    position: relative;
    cursor: pointer;
}

#nav-button div {
    position: absolute;
    background: var(--white);
}

#nav-button div:first-of-type {
    width: 100%;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);
}

#nav-button div:last-of-type {
    width: 5px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    transition: transform 0.2s;
}

nav {
    background: var(--black);
    padding: 70px var(--padding-left-and-right);
    position: fixed;
    top: 0;
    display: grid;
    gap: 20px;
    width: 100%;
    height: 100vh;
    align-content: start;
    left: 50%;
    text-transform: uppercase;
    font-weight: bold;
    transition: left 0.2s;
}

nav a:link,
nav a:active,
nav a:visited {
    color: var(--white);
}

nav a:hover {
    text-decoration: underline;
}

#header-container {
    background: var(--white);
}

header {
    padding: var(--padding-left-and-right);
    display: grid;
    gap: 10px;
}

#main-container {
    background: var(--white);
}

#about main,
#contact main,
#terms-and-conditions main,
#privacy-policy main {
    padding: var(--padding-left-and-right);
}

main a:link,
main a:active,
main a:visited {
    color: var(--verdigris);
}

.text-container {
    display: grid;
    gap: 15px;
}

p,
ul,
ol {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

label {
    font-weight: bold;
    color: var(--white);
}

input {
    border: 0px;
}

input[type="text"] {
    padding: 15px;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

input[type="submit"],
input[type="reset"] {
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
}

footer {
    padding: 30px var(--padding-left-and-right);
    display: grid;
    gap: 20px;
}

footer a {
    font-weight: bold;
}

footer a:link,
footer a:active,
footer a:visited {
    color: var(--white);
}

footer a:hover {
    text-decoration: underline;
}

.footer-links {
    display: grid;
    gap: 20px;
}

.footer-links-section {
    display: grid;
    gap: 20px;
}

#copyright {
    color: var(--grey);
}

.scroll-to-top-button {
    background: var(--verdigris);
    width: 50px;
    height: 50px;
    position: fixed;
    right: var(--padding-left-and-right);
    bottom: var(--padding-left-and-right);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s;
    cursor: pointer;
    z-index: 2;
}

.scroll-to-top-button.visible {
    opacity: 1;
}

.scroll-to-top-button-arrow {
    border: solid var(--white);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-135deg);
    translate: 0px 2px;
}

/************************* HOME *************************/
#home #travel-input {
    padding: 100px var(--padding-left-and-right);
}
/************************* HOME *************************/


/************************* TRAVEL INPUT *************************/
#travel-input-container {
    background: var(--verdigris);
    background-image: url("assets/photos/zac-ong-JHN1-mpgXjo-unsplash.webp");
    background-position: center;
    background-size: cover;
    color: var(--black);
}

#travel-input {
    padding: 70px var(--padding-left-and-right);
}

#travel-input {
    display: grid;
    gap: 20px;
}

#travel-input-main-heading {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--white);
}

#travel-input p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--white);
}

#travel-input form {
    display: grid;
    gap: 20px;
}

.airport-input-container {
    display: grid;
    gap: 10px;
    position: relative;
}

.matching-airports {
    position: absolute;
    top: 75px;
    width: 100%;
    background: var(--lighter-grey);
    padding: 10px;
    display: grid;
    cursor: pointer;
    z-index: 1;
}

.matching-airports > div {
    padding: 10px;
    line-height: 1.5rem;
}

.matching-airports > div:hover {
    background: var(--black);
    color: var(--white);
}

#travel-input-photo-credit {
    color: var(--white);
}

#travel-input-photo-credit a:link,
#travel-input-photo-credit a:visited {
    color: var(--verdigris);
}

#travel-input-photo-credit a:hover {
    text-decoration: underline;
}
/************************* TRAVEL INPUT *************************/


/************************* DESTINATION *************************/
#destination .section-container:nth-of-type(odd) {
    background: var(--white);
}

#destination .section-container:nth-of-type(even) {
    background: var(--lighter-grey);
}

#destination section {
    padding: 30px var(--padding-left-and-right);
    display: grid;
    gap: 20px;
}

h1 {
    font-size: 3rem;
}

.destination-h2 {
    font-size: 2rem;
}

#destination-contents-list {
    display: grid;
    gap: 10px;
    cursor: pointer;
}

#destination-contents-list a:link,
#destination-contents-list a:active,
#destination-contents-list a:visited {
    color: var(--black);
}

#destination-contents-list a:hover {
    text-decoration: underline;
}

#destination-flag {
    width: 100%;
    max-width: 400px;
    border: 1px solid var(--light-grey);
}

#general-information-text,
.emergency-numbers-text {
    display: grid;
    gap: 5px;
}

#weather-forecast-hour-and-temperature {
    display: grid;
    gap: 10px;
}

.bar-chart {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(10, 1fr);
    align-items: end;
    font-size: 0.7rem;
    text-align: center;
}

.bar-chart-bar-and-date {
    display: grid;
    gap: 10px;
}
  
.bar-chart-bar {
    background: var(--verdigris);
    color: var(--white);
    font-weight: bold;
    padding-top: 5px;
}

#city-photos-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-left-and-right);
}

#city-photos-container::after {
    content: "";
    flex-grow: 10;
}

.city-photo-preview {
    flex-grow: 1;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

#full-size-photo-container {
    padding: var(--padding-left-and-right);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 20px;
    align-content: center;
    justify-content: center;
    text-align: center;
    z-index: 5;
    color: var(--white);
}

#full-size-photo-name {
    font-size: 1.5rem;
    font-weight: bold;
}

#full-size-photo-container img {
    width: 100%;
    max-height: 50vh;
    object-fit: contain;
}

#full-size-photo-background {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    opacity: 0.93;
}

#holidays-dates-container {
    display: grid;
    gap: 5px;
}
/************************* DESTINATION *************************/


@media only screen and (min-width: 600px) {
    #nav-button {
        display: none;
    }

    nav {
        position: initial;
        top: initial;
        display: flex;
        flex-wrap: wrap;
        width: initial;
        height: initial;
        align-content: initial;
        left: initial;
        padding: initial;
    }

    #nav-home,
    #nav-terms-and-conditions,
    #nav-privacy-policy {
        display: none;
    }

    #home #travel-input {
        padding: 250px var(--padding-left-and-right);
    }

    h1 {
        font-size: 3.5rem;
    }
    
    .destination-h2 {
        font-size: 2.5rem;
    }

    .bar-chart {
        gap: 10px;
        font-size: initial;
    }

    .footer-links {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 50px;
    }
}