* {
    margin: 0;
}

.error {
    color: red;
}

#logo {
    background: yellow;
    font-size: 2rem;
}

nav {
    background: grey;
}

header {
    background: orange;
    display: grid;
    gap: 15px;
}

main {
    background: pink;
    display: grid;
    gap: 15px;
}

p,
ul,
ol {
    line-height: 1.4rem;
}

section {
    display: grid;
    gap: 10px;
}

#country-information img {
    width: 100%;
    max-width: 400px;
}

.body {
    display: grid;
    gap: 15px;
}

footer {
    background: grey;
}

.footer-links {
    display: grid;
}

/************************* HOME *************************/
.airport-input {
    display: grid;
}

.matching-airports {
    background: cyan;
    display: grid;
    gap: 10px;
    cursor: pointer;
}

/************************* HOME *************************/


/************************* DESTINATION *************************/
#weather-forecast-hour-and-temperature {
    display: grid;
    gap: 10px;
}

.bar-chart {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(10, 1fr);
    align-items: end;
    font-size: 0.7rem;
    text-align: center;
}

.bar-chart-bar-and-date {
    display: grid;
    gap: 10px;
}
  
.bar-chart-bar {
    background-color: #007bff; /* Set your desired color here */
    color: white;
    font-weight: bold;
    padding-top: 5px;
}
/************************* DESTINATION *************************/


@media only screen and (min-width: 600px) {
    .bar-chart {
        gap: 10px;
        font-size: initial;
    }
}